<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Lumiflow需要访问您的相机以提供自拍补光功能，让您的照片和视频拥有专业级光效。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Lumiflow需要访问您的照片库，以便保存您拍摄的照片。</string>
</dict>
</plist>
